.App {
  text-align: center;

  background-image: url('../../images/white.jpg');
}

.img {
  margin-top: 40px;
  width: 500px;
}

.form {
  background-color: rgb(164, 111, 164);
}

.ad {
  text-align: center;
  color: white;
}

.footer {
  font-size: 14px;
  color: black;
  margin: 100px;
  text-align: right;
}