.App {
  text-align: center;

  background-image: url('../../images/white.jpg');
}

.img {
  margin-top: 100px;
  width: 500px;
}

.form {
  background-color: rgb(164, 111, 164);
}

.ad {
  text-align: center;
  color: rgb(164, 111, 164);
}