.App {
  text-align: center;

  background-image: url('../../images/white.jpg');
}

main {
  height: 100vh;
}

.img {
  margin-top: 40px;
  width: 450px;
}

.form {
  background-color: rgb(164, 111, 164);
  padding: 20px;
}

.ad {
  text-align: center;
  color: white;
}

.footer {
  font-size: 16px;
  color: black;
  margin: 100px;
  text-align: center;
}