.main {
    &__ul {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-evenly;
        text-decoration: none;
    }
}

/* Una sola columna en dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
    .main__ul {
        grid-template-columns: 100%;
    }
}