.container {
    display: flex;
    justify-content: center;

    background-color: white;
    text-decoration: none;

    :hover {
        transform: scale(1.05)
    }


    &__img {
        width: 140px;
        height: 170px;
        border-radius: 2%;
        border: 20px solid#8b6c7e;
        margin: 15px;
        background-color: #800000;
        padding: 5px;
        text-align: start;


    }

    &__name {
        text-decoration: none;
        color: #512440;
        font-size: 30px;
        font-weight: bold;
        background-color: white;
        margin: 10px;


    }

    &__species {
        text-decoration: none;
        color: #7a5b6d;
        padding: 10px;
        font-weight: bold;
        background-color: white;
    }

    &__link {
        text-decoration: none;
    }
}