.btn {
    margin: 10px;
    color: rgb(247, 243, 247);
    background-color: rgb(112, 84, 111);
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.btn:hover {
    transform: scale(1.09);
    background-color: black;
}