.App {
  text-align: center;

}

.main {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;

}

.img-card {
  width: 130px;
  height: 170px;
  border-radius: 2%;
}

.licontainer {
  margin: 15px;
  border-color: aqua;
}